@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cognitive Services OCR demo</h1>

</div>

<div>
    <h2 class="display-4">Choose one of the options in the ribbon</h2>
</div>